@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$font-family-sans-serif:                'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$brand-primary: #4b7df8;
$brand-warning: #E3D2AF;
$brand-danger: #F04366;

$headings-color: #706770;

$body-bg: #eee;

$navbar-border-radius: 0;
$navbar-default-brand-color: #285cda;
$navbar-default-link-color: #4b7df8;

$input-border-focus: #285cda;

$link-color: #4b7df8;

$hr-border: #D6D6D6;

$jumbotron-bg: #fff;

@import 'bootstrap-sprockets';
@import 'bootstrap';

label {
    color: #706770;
}

.white {
    background: white;
}

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 0;

    img {
        width: 200px;
    }
}