// Place all the styles related to the thoughts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel .img-container {
    margin-right: 20px;
}

#thoughts {
    ul {
        border: 1px solid #bbb;
        list-style: none;
        padding: 0;

        li {
            background: #fff;
            border-bottom: 1px solid #bbb;
            padding: 20px;
            position: relative;

            &:nth-child(even) {
                background: #F5F5F5;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }

    .thought-main {
        width: 69%;
        display: inline-block;


        .img-container {
            margin: 0 10px 0 0;
        }
        h2 {
            margin: 0 0 10px 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .thought-meta {
            display: block;
            width: 100%;
            border-top: 1px solid #bbb;
            margin: 20px 0 0 0;
            padding: 10px 0 0;
        }
        .thought-rating {
            float: left;
            margin: 0 10px 0 0;
        }
        .thought-tags {
            float: left;
            margin: 0 10px 0 0;

            a {
                border: none;
                background: #4b7df8;
                color: #fff;
                padding: 1px 5px 4px;
                border-radius: 50px;

                &:hover {
                    background: darken(#4b7df8, 5%);
                    text-decoration: none;
                }
            }
        }
        sub {
            display: inline-block;
            vertical-align: super;
            line-height: 1.2;
            margin-top: 2px;
        }
    }

    .thought-links {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 30%;
        height: 100%;

        a {
            border-right: 1px solid #bbb;
            display: block;
            float: left;
            text-align: center;
            height: 100%;
            color: #666;
            width: 33.3%;
            // line-height: 10;
            padding-top: 25%;

            &:hover {
                background: #4b7df8;
                color: #fff;
                text-decoration: none;
            }

            &:first-child {
                border-left: 1px solid #bbb;
            }
            &:last-child {
                border-right: none;
            }

            &.delete:hover {
                background: red;
            }
        }
    }
}

@media (max-width: 768px) {
    #thoughts .thought-tags, #thoughts .thought-rating, #thoughts .thought-main sub {
        line-height: 2;
    }

    #thoughts .thought-links a {
        float: none;
        width: 100%;
        height: 33.5%;
        border-right: none;
        border-bottom: 1px solid #bbb;
        border-left: 1px solid #bbb;
        padding-top: 12%;
    }
}