<div class="container">
  <hr>

  <footer class="text-center">
    <p>Made with love by <a href="http://creativeember.com" target="_blank">Creative Ember</a> in Austin, Texas. &copy; 2015</p>
  </footer>
</div>